.groupChild,
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  height: 561px;
}
.groupChild {
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 1200px;
}
.groupInner,
.groupItem {
  left: 854.1px;
  border-radius: 0 var(--br-base) var(--br-base) 0;
  width: 345.9px;
}
.groupItem {
  object-fit: cover;
}
.groupInner {
  background-color: var(--color-sandybrown);
  opacity: 0.85;
}
.ellipseDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-200);
  width: 64px;
  height: 64px;
}
.groupChild1,
.rectangleDiv {
  position: absolute;
  top: 7.3px;
  left: 0;
  border-radius: var(--br-29xl) var(--br-29xl) 0 0;
  background-color: var(--color-white);
  width: 11.4px;
  height: 14.2px;
  transform: rotate(-39.6deg);
  transform-origin: 0 0;
}
.groupChild1 {
  top: 23.2px;
  left: 28.1px;
  background-color: var(--color-sandybrown);
  transform: rotate(139.8deg);
}
.rectangleGroup {
  position: absolute;
  top: 16.4px;
  left: 17.8px;
  width: 28.1px;
  height: 30.6px;
}
.ellipseParent {
  width: 64px;
  position: relative;
  height: 64px;
}
.medifine {
  position: relative;
  letter-spacing: 0.02em;
}
.logo {
  position: absolute;
  top: 222px;
  left: 960.9px;
  width: 133.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.date,
.enterNameHere,
.name,
.time {
  position: absolute;
  top: 150px;
  left: 113.5px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 67.8px;
}
.date,
.enterNameHere,
.time {
  left: 510.5px;
  width: 65.6px;
}
.enterNameHere,
.time {
  top: 260px;
  left: 113.5px;
  width: 73.4px;
}
.enterNameHere {
  top: 185px;
  width: 141.2px;
}
.enterDateHere,
.enterNameHere,
.enterTimeHere {
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  color: var(--color-darkgray);
  text-align: left;
}
.enterDateHere {
  position: absolute;
  top: 185px;
  left: 510.5px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 141.2px;
}
.enterTimeHere {
  top: 295px;
  left: 113.5px;
  width: 177.9px;
}
.addSlots,
.enterFeesHere,
.enterTimeHere {
  position: absolute;
  letter-spacing: 0.02em;
}
.enterFeesHere {
  position:absolute;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: 295px;
  left: 506.2px;
  color: var(--color-darkgray);
  text-align: left;
  width: 132px;
}
.addSlots {
  top: 0;
  left: 10px;
  font-size: var(--font-size-31xl-5);
  font-weight: 600;
  width: 254.7px;
}
.bxsuser,
.bxsuserIcon {
  position: absolute;
  top: 144px;
  left: 0;
  width: 89px;
  height: 80px;
  overflow: hidden;
}
.bxsuser {
  top: 257px;
  left: 10px;
}
.groupChild2,
.groupChild3,
.groupChild4,
.lineDiv {
  position: absolute;
  top: 217px;
  left: 107.9px;
  border-top: 1px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  width: 245.7px;
  height: 1px;
}
.groupChild2,
.groupChild3,
.groupChild4 {
  left: 504.9px;
}
.groupChild3,
.groupChild4 {
  top: 327px;
  left: 107.9px;
}
.groupChild4 {
  left: 500.5px;
}
.submit {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 45.7px);
  letter-spacing: 0.02em;
  font-weight: 600;
}
.makeAppointment {
  position: absolute;
  top: calc(50% + 162.5px);
  left: calc(50% - 125.6px);
  box-shadow: 0 2px 10px rgba(65, 211, 153, 0.7);
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen-200);
  width: 291.4px;
  height: 74px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.fees {
  position: absolute;
  top: 260px;
  left: 506px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 86.7px;
}
.bxsuserIcon1 {
  position: absolute;
  top: 150px;
  left: 395.2px;
  width: 89px;
  height: 80px;
  overflow: hidden;
}
.nameParent {
  position: absolute;
  top: 53px;
  left: 47.8px;
  width: 749.6px;
  height: 473px;
  font-size: var(--font-size-2xl-3);
  color: var(--color-darkslategray);
}
.groupIcon,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 561px;
}
.groupIcon {
  height: 17.11%;
  width: 8%;
  top: 53.83%;
  right: 88.33%;
  bottom: 29.06%;
  left: 3.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rupeeIcon {
  position: absolute;
  top: 304px;
  left: 443px;
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.groupParent {
  width: 100%;
  position: absolute;
  height: 561px;
  text-align: left;
  background-color: #41D399;
  font-size: var(--font-size-9xl-4);
  color: var(--color-white);
  font-family: var(--font-poppins);
  /* transform: translate(10%,15%); */

}
